C 0 0 "VOUT" 0 0 0 0 60 0 L
X "PIN_TEXT" "VOUT" 230 -30 0 0.00 60 0 0 0 0 0 1 0 74
L 200 0 0 0 -1 0
C 0 -100 "L2" 0 -100 0 0 60 0 L
X "PIN_TEXT" "L2" 230 -130 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -100 0 -100 -1 0
C 0 -200 "PGND" 0 -200 0 0 60 0 L
X "PIN_TEXT" "PGND" 230 -230 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -200 0 -200 -1 0
C 0 -300 "L1" 0 -300 0 0 60 0 L
X "PIN_TEXT" "L1" 230 -330 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -300 0 -300 -1 0
C 0 -400 "VIN" 0 -400 0 0 60 0 L
X "PIN_TEXT" "VIN" 230 -430 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -400 0 -400 -1 0
C 0 -500 "EN" 0 -500 0 0 60 0 L
X "PIN_TEXT" "EN" 230 -530 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -500 0 -500 -1 0
C 1300 0 "PS/SYNC" 1300 0 0 0 60 0 R
X "PIN_TEXT" "PS/SYNC" 1070 -30 0 0.00 60 0 0 2 0 0 1 0 74
L 1100 0 1300 0 -1 0
C 1300 -100 "VINA" 1300 -100 0 0 60 0 R
X "PIN_TEXT" "VINA" 1070 -130 0 0.00 60 0 0 2 0 0 1 0 74
L 1100 -100 1300 -100 -1 0
C 1300 -200 "GND" 1300 -200 0 0 60 0 R
X "PIN_TEXT" "GND" 1070 -230 0 0.00 60 0 0 2 0 0 1 0 74
L 1100 -200 1300 -200 -1 0
C 1300 -300 "FB" 1300 -300 0 0 60 0 R
X "PIN_TEXT" "FB" 1070 -330 0 0.00 60 0 0 2 0 0 1 0 74
L 1100 -300 1300 -300 -1 0
C 1300 -400 "EP" 1300 -400 0 0 60 0 R
X "PIN_TEXT" "EP" 1070 -430 0 0.00 60 0 0 2 0 0 1 0 74
L 1100 -400 1300 -400 -1 0
L 200 100 1100 100 -1 0
L 1100 -600 1100 100 -1 0
L 1100 -600 200 -600 -1 0
L 200 100 200 -600 -1 0
P "$LOCATION" "?" 1150 270 0 0 60 0 0 0 0 0 1 0 32
P "PACK_TYPE" "?" 0 -50 0 0 100 0 0 1 0 0 0 0 32

